{% extends 'base.html' %}

{% block content %}
    <h1>Оформление заказа</h1>
    <div class="order-info" style="float: right;">
        <h3>Ваш заказ</h3>
        <ul>
            {% for item in cart %}
                <li>
                    {{ item.quantity }}x {{ item.product.name }}
                    <span>цена: {{ item.total_price }} руб.</span>
                </li>
            {% endfor %}
        </ul>
        <p>Общая стоимость: ${{ cart.get_total_price }}</p>
    </div>
    <form method="post">
        {% csrf_token %}
        <div class="form-error">{{ form.non_field_errors }}</div>
        {% for f in form %}
            <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</p>
            <div class="form-error">{{ f.errors }}</div>
        {% endfor %}
        <p><button type="submit">Оформить Заказ</button></p>
    </form>


{% endblock %}