{% extends 'base.html' %}

{% block content %}
    {% for p in products %}
        <p>Категория: {{p.category.name}}</p>
        <p>{{p.name}}</p>
        {% if p.image %}
            <a href="{{ p.get_absolute_url }}"><img src="{{p.image.url}}" width="150" height="150" style="border-radius:20%;"></a>
        {% else %}
            <p><a href="{{ p.get_absolute_url }}">
                <img src="/media/product_images/no_image.jpeg" width="100" height="100"></a></p>
        {% endif %}
        <p>{{p.price}} руб.
        {% autoescape off %}
		    {{ p.description|linebreaks|truncatewords:40 }}
		{% endautoescape %}
        <p><a href="{{ p.get_absolute_url }}">Подробнее</a></p>
    {% endfor %}
{% endblock %}