{% extends 'base.html' %}

{% block content %}
<p>Артикул: {{product.vendor_code}}</p>
{% if product.image %}
    <p><img src="{{product.image.url}}"></p>
{% endif %}
    <h1>{{product.name}}</h1>
    <p>Цена: {{product.price}}</p>
    <p>Описание: {{product.description}}</p>
    {% if  product.quantity is None %}
        <p>Нет в наличии</p>
    {% else %}
        <p>Общее кол-во: {{product.quantity}}</p>
    {% endif %}
    <p>Материал изделия: {{product.material}}</p>
    <p>Высота: {{product.height}}</p>
    <p>Длина: {{product.length}}</p>
    <p>Ширина: {{product.width}}</p>

    <p><a href="{% url 'home' %}">Вернуться на главную</a></p>
{% endblock %}

