{% extends 'base.html' %}
{% load static %}

{% block content %}

<p>Артикул: {{product.vendor_code}}</p>
{% if product.image %}
    {% for i in product_image %}
        <img src="{{i.image.url}}" alt="{{i.product}}" title="{{i.product}}" class="image_block">
    {% endfor %}
{% else %}
    <p><img src="/media/product_images/no_image.jpg" width="100" height="100"></p>
{% endif %}
    <h1>{{product.name}}</h1>
    <p>Цена: {{product.price}}</p>
    <p>Описание: {{product.description}}</p>
    {% if  product.quantity is None %}
        <p>Нет в наличии</p>
    {% else %}
        <p>Общее кол-во: {{product.quantity}}</p>
    {% endif %}
    <p>Материал изделия: {{product.material}}</p>
    <p>Высота: {{product.height}}</p>
    <p>Длина: {{product.length}}</p>
    <p>Ширина: {{product.width}}</p>



<form action="{% url 'cart:cart_add' product.id %}" method="post">
    {{ cart_product_form }}
    {% csrf_token %}
    <input type="submit" value="Add to cart">
</form>

    <p><a href="{% url 'home' %}">Вернуться на главную</a></p>
{% endblock %}

