{% extends 'base.html' %}


{% block content %}
    <h1>Профиль {{user.username}}</h1>
<form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% if user.avatar %}
            <p><img src="{{ user.avatar.url }}"></p>
        {% else %}
            <p><img src="{{ default_image }}"></p>
        {% endif %}
        <div class="form-error">{{ form.non_field_errors }}</div>
        {% for f in form %}
            <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</p>
            <div class="form-error">{{ f.errors }}</div>
        {% endfor %}
        <p><button type="submit">Сохранить</button></p>
</form>
<hr>
<h3>Ваши заказы:</h3>
    {% for order in user_orders %}
        <p><a href="{% url 'orders:order_detail' order.pk %}">Подробная информация о заказе №:{{order.id}}</a></p>
    {% endfor %}

{% endblock %}