{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link type="text/css" href="{% static 'shop/css/styles.css' %}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'shop/images/main.ico' %}" type="image/x-icon"/>

</head>
<body>
<!--блок главное меню-->
{% block mainmenu %}
    <div class="header">
        <ul  id="mainmenu" class="mainmenu">
            <li  class="logo" title="Главная страница"><a href="{% url 'home' %}"><div class="logo"></div></a></li>
            {% for m in mainmenu %}
                <li class="main-menu"><p><a href="#">{{m.title}}</a></p></li>
            {% endfor %}
            {% if user.is_authenticated %}
            <li> <a href="{% url 'users:profile' %}">{{user.username}}</a> |
                    <form method="post" action="{% url 'users:logout' %}">
                        {% csrf_token %}
                        <button type="submit">Выйти</button>
                    </form>
                </li>
            {% else %}
                <li><a href="{% url 'users:login' %}">Авторизация</a> |
                    <a href="{% url 'users:register' %}">Регистрация</a></li>
            {% endif %}
            {% if user.is_superuser %}
                <li><a href="{% url 'admin:index' %}">Админка</a></li>
            {% endif %}
            <li style="float: right;" title="Корзина">
               <a href="{% url 'cart:cart_detail' %}">
                   <img src="/media/product_images/cart.png" width="50" height="50" style="border-radius: 50%;">
               </a>
                 <p>
                    {% with total_items=cart|length %}
                        {% if cart|length > 0 %}
                            {{ total_items }} товар(ов) в корзине
                        {% else %}
                            Ваша корзина пуста
                        {% endif %}
                    {% endwith %}
            </p>
            </li>
        </ul>
    </div>
<div>
    <form action="{% url 'home' %}" method="get">
        <input name="search" type="text" placeholder="Поиск">
        <button type="submit">Искать</button>
    </form>
</div>
{% endblock %}
<!--Конец блока главное меню-->


<!-- Блок контента-->
<div class="content">
    {% block content %}
    {% endblock %}
</div>
<!--Конец блока контента-->

<!--Футер-->
<footer>
   <div id="footer">
		<p class="footer-text">&copy; 2023 Частичное или полное копирование информации с данного сайта для распространения на других ресурсах, в том числе и бумажных, строго запрещено.</p>
	</div>
</footer>
<!--конец футера и страницы-->
</body>
</html>